<ion-content>
  <ion-slides pager="true">
    <ion-slide>
      <h2>Slide 1</h2>
      <div class="icon-container">
        <ion-icon class="icon" name="card"></ion-icon>
      </div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </p>
    </ion-slide>
    <ion-slide>
      <h2>Slide 2</h2>
      <div class="icon-container">
        <ion-icon class="icon" name="card"></ion-icon>
      </div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </p>
    </ion-slide>
  </ion-slides>
</ion-content>
